<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}An unofficial validator for testing IATI data files.{% endblock %}">
    <meta name="author" content="{% block meta_author %}Andy Lulham{% endblock %}">
    <title>{% block page_title %}

    Unofficial IATI Validator

    {% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ stylesheet_tag('main_css') | safe }}

    {% block css %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
{% block body %}
{% include "_nav.html" %}

<main role="main">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
             {{message}}
            </div><!-- end .alert -->
            {% endfor %}
          </div><!-- end col-md -->
        </div><!-- end row -->
{% endif %}
{% endwith %}

{% block content %}{% endblock %}
</main>


{% include "_footer.html" %}

<!-- JavaScript at the bottom for fast page loading -->
{{ javascript_tag('main_js') | safe }}
{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}
</body>
</html>

