/* =============================================================================
   App specific CSS file.
   ========================================================================== */

footer {
  margin-top: 4rem;
  border-top: 1px solid #eaeaea;
  color: #999999;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.highlight pre {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.jumbotron {
  border-radius: 0;
}

.flash-message {
  margin-bottom: 0;
  border-radius: 0;
}
