<ul>
{% for error in errors %}
    <li>
        <h5>{{ error.summary }}{% if error.occurrences > 1 %} ({{ error.occurrences | commify }} occurrences){% endif %}
            {% if error.can_show -%}
              <a href="{{ url_for('public.show', uuid=error.id) }}#L-{{ error.line }}">Show me</a>
            {%- endif -%}
        </h5>
        <p>
            {{ error.details }}

            {% if error.url %}
              <a href="{{ error.url }}" target="_blank">[ref]</a>
            {% endif %}
        </p>
    </li>
{% endfor %}
</ul>
