{% extends "layout.html" %}

{% set active_page = "home" -%}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Unofficial IATI Validator</h1>
    <p class="lead text-muted">Validates an IATI dataset against the relevant schema, and performs additional checks.</p>
  </div>
</section>


<div class="container">

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-upload fa-fw" aria-hidden="true"></i>Upload
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <form action="{{ url_for('public.upload') }}" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="id_file" name="file" aria-describedby="file">
                  <label class="custom-file-label" for="id_file">Upload an XML file</label>
                </div>
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-link fa-fw" aria-hidden="true"></i>Link
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <form action="{{ url_for('public.upload') }}" id="fetchURL" method="POST">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="form-group">
                <label class="control-label" for="id_url">Supply a link to an XML file</label>
                <input class="form-control" id="id_url" maxlength="2000" name="url" placeholder="https://…" required="required" title="" type="url" />
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fa fa-clipboard fa-fw" aria-hidden="true"></i>Paste
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <form action="{{ url_for('public.upload') }}" method="POST">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="form-group"><label class="control-label" for="id_paste">Paste XML code</label><textarea class="form-control" cols="40" id="id_paste" name="paste" placeholder="<iati-activities>…" required="required" rows="10" title=""></textarea></div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

