{% extends "layout.html" %}

{% set active_page = "validate" -%}

{% block content %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Validation results</h1>
      </div>
    </section>

  <div class="container">
    <div class="alert {% if valid_xml %}alert-success{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingOne">
        {% if valid_xml %}
          <i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i>XML is valid
        {% else %}
          <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>XML is invalid
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseOne" aria-label="Close">
          <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        {% if valid_xml %}
          <p>Good news! Everything looks fine here.</p>
        {% else %}
          {% with error_summary=valid_xml.error_summary %}
            {% include "public/_show_validation_errors.html" %}
          {% endwith %}
        {% endif %}
      </div>
    </div>

    <div class="alert {% if valid_iati %}alert-success{% elif valid_iati is sameas none %}alert-secondary{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingTwo">
        {% if valid_iati %}
          <i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i>Valid against IATI {{ dataset.filetype }} schema version {{ dataset.version }}
        {% elif valid_iati is sameas none %}
          <i class="fa fa-fw fa-question-circle" aria-hidden="true"></i>Could not validate against an IATI schema
        {% else %}
          <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
          {%- if dataset.schema -%}
            Invalid against IATI {{ dataset.filetype }} schema version {{ dataset.version }}
          {%- else -%}
            Invalid against any IATI schema
          {%- endif -%}
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseTwo" aria-label="Close">
          <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        {% if valid_iati %}
          <p>Good news! Everything looks fine here.</p>
        {% elif valid_iati is sameas false %}
          {% with error_summary=valid_iati.error_summary %}
            {% include "public/_show_validation_errors.html" %}
          {% endwith %}
        {% else %}
          <p>It’s not possible to perform IATI schema validation for invalid XML.</p>
        {% endif %}
      </div>
    </div>

    <div class="alert {% if valid_codelists %}alert-success{% elif valid_codelists is sameas none %}alert-secondary{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingThree">
        {% if valid_codelists %}
          <i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i>No invalid codelist values found
        {% elif valid_codelists is sameas false %}
          <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>Invalid codelist values used
        {% else %}
          <i class="fa fa-fw fa-question-circle" aria-hidden="true"></i>Could not check codelist values
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseThree" aria-label="Close">
          <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
        {% if valid_codelists %}
          <p>Good news! Everything looks fine here.</p>
        {% elif valid_codelists is sameas false %}
          {% with error_summary=valid_codelists.error_summary %}
            {% include "public/_show_validation_errors.html" %}
          {% endwith %}
        {% else %}
          <p>It’s not possible to perform codelist validation for invalid XML.</p>
        {% endif %}
      </div>
    </div>

    {% if data.source_url %}
    <p>Dataset badge:<br>
      <a href="{{ url_for('public.badge', url=data.source_url) }}">
        {% if success %}
          <img src="{{ url_for('static', filename='passing.svg') }}" />
        {% else %}
          <img src="{{ url_for('static', filename='failing.svg') }}" />
        {% endif %}
      </a>
    </p>
    {% endif %}
  </div>
{% endblock %}
