{% extends "layout.html" %}

{% set active_page = "validate" -%}

{% block content %}
  <div class="container">

    <h1 class="display-3">IATI Validator</h1>

    <div class="alert {% if valid_xml %}alert-success{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingOne">
        {% if valid_xml %}
          <i class="fa fa-check-square-o" aria-hidden="true"></i> XML is valid
        {% else %}
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> XML is invalid
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseOne" aria-label="Close">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        {% with valid=valid_xml %}
          {% include "public/_show_validation_errors.html" %}
        {% endwith %}
      </div>
    </div>

    <div class="alert {% if valid_iati %}alert-success{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingTwo">
        {% if valid_iati %}
          <i class="fa fa-check-square-o" aria-hidden="true"></i> Valid against IATI {{ dataset.filetype }} schema version {{ dataset.version }}
        {% else %}
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {% if dataset.schema %}
            Invalid against IATI {{ dataset.filetype }} schema version {{ dataset.version }}
          {% else %}
            Invalid against any IATI schema
          {% endif %}
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseTwo" aria-label="Close">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        {% with valid=valid_iati %}
          {% include "public/_show_validation_errors.html" %}
        {% endwith %}
      </div>
    </div>

    <div class="alert {% if valid_codelists %}alert-success{% else %}alert-danger{% endif %}" role="alert">
      <h4 class="alert-heading" id="headingThree">
        {% if valid_codelists %}
          <i class="fa fa-check-square-o" aria-hidden="true"></i> No invalid codelist values found
        {% else %}
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid codelist values used
        {% endif %}
        <button type="button" class="close" data-toggle="collapse" data-target="#collapseThree" aria-label="Close">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </h4>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
        {% with valid=valid_codelists %}
          {% include "public/_show_validation_errors.html" %}
        {% endwith %}
      </div>
    </div>

    {% if data.source_url %}
    <p>Dataset badge:<br>
      <a href="{{ url_for('public.badge', url=data.source_url) }}">
        {% if success %}
          <img src="{{ url_for('static', filename='passing.svg') }}" />
        {% else %}
          <img src="{{ url_for('static', filename='failing.svg') }}" />
        {% endif %}
      </a>
    </p>
    {% endif %}
  </div>
{% endblock %}
